#wrapper{
   position: absolute;
   left: 30%;
   top: 20%;
   height: 500px;
   width: 500px;
   border: 2px black;
}

#startTime{
    background-color: teal;
    margin-left: 33%;
    padding: 15px 30px;
    font-size: 20px;
    color: tomato;
    font-family: 'Press Start 2P', cursive;
 }
 
    #questions{
     margin: 20px;
    
 }
 
 #currentTime{
     float: right;
     color: ;
     font-family: 'Press Start 2P', cursive;
 }
 
 #goBack{
     background-color: yellow;
     position: relative;
     padding : 10px;
     font-size: 20px;
     color: violet;
     top: 30%;
     left: 55%;
     width: auto;
     text-align: center;
 }
 
 #clear{
     background-color: violet;
     position: relative;
     padding: 10px;
     font-size: 20px;
     color: yellow;
     top: 30%;
     right: 5%;
     text-align: center;

 }
 
 button{
     border-radius: 8px;
    
 }
 
 textarea{
     width: 90%;
     margin: 20px;
    
 }
 
 #Sumbit{
     background-color: red;
     margin-left: 33%;
     padding: 15px 32px;
     font-size: 20px;
     color: royalblue;
    
 }
 
 label{
    margin-right: 10px;
    margin-bottom: 20px;

 }

 input{

    margin-bottom: 20px;
    width: 50%;
 }
         
h1 {
 text-align: center;
 color: yellow;

}

li{
background-color:#ef21e0 ;
margin-top: 10px;
padding: 5px 15px;
width: 80%;
font-size: 18px;
color: black;
border-radius: 8px;

}

#createDiv{
    margin-top: 20px;
    color: crimson;
}

body{
    padding: 0%;
    height: 600px;
    background-color: #cccccc;
    background-image: linear-gradient(#3ac3ca, black, green);
    background-repeat: no-repeat;

}

#createP{

    color: crimson;
}



#createLabel{
 color: crimson;


}

#initials{

 background-color: cyan;

}

 
 #questions {
    font-family: 'Press Start 2P', cursive;
    color: crimson;
 }

 a {
     display: flex;
    font-size: 35px;
    color: tomato;
    font-family: 'Press Start 2P', cursive;
    text-align: end;
    justify-content: space-around;

 }

 p{
 text-align: center;


 }